@keyframes updown {
    0% { transform: translateY(0); }
    50% { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}

@keyframes bounce1 {
    0%,
    100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(35%, 65%);
    }
    50% {
      transform: translate(54%, 0);
    }
    75% {
      transform: translate(35%, -65%);
    }
  }

  @keyframes bounce2 {
    0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-55%, 80%);
  }
  50% {
    transform: translate(-60%, 0);
  }
  75% {
    transform: translate(-55%, 80%);
  }
  }

  @keyframes bounce3 {
    0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(44%, 85%);
  }
  50% {
    transform: translate(-60%, 0);
  }
  75% {
    transform: translate(44%, 85%);
  }
  }

  @keyframes bounce4 {
    0%,
    100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(44%, 85%);
    }
    50% {
      transform: translate(-60%, 0);
    }
    75% {
      transform: translate(44%, 85%);
    }
  }

  @keyframes bounce7 {
    0%,
    100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(35%, 65%);
    }
    50% {
      transform: translate(54%, 0);
    }
    75% {
      transform: translate(35%, -65%);
    }
  }

  @keyframes bounce8 {
    0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(44%, 85%);
  }
  50% {
    transform: translate(-60%, 0);
  }
  75% {
    transform: translate(44%, 85%);
  }
  }

  @keyframes bounce9 {
    0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(44%, 85%);
  }
  50% {
    transform: translate(-60%, 0);
  }
  75% {
    transform: translate(44%, 85%);
  }
  }

  @keyframes zavod {
    0% {
        transform: translateX(0); 
    }
    50% {
        transform: translateX(-10vw); 
    }    
    70% {
        transform: translateX(5vw);
    }
    100% {
        transform: translateX(0);
    }
  }

  @keyframes f1t1 {
    0% {
        transform: translateX(0); 
    }
    20% {
        transform: translateX(10vw); 
    }    
    60% {
        transform: translateX(20vw);
    }
    100% {
        transform: translateX(0);
    }
  }

  @keyframes f1t2 {
    0% {
        transform: translateY(0); 
    }
    20% {
        transform: translateY(-10vw); 
    }    
    60% {
        transform: translateY(-20vw);
    }
    100% {
        transform: translateY(0);
    }
  }

  @keyframes f1t3 {
    0% {
      transform: translate(-20%, -20px) rotate(0deg) scale(1); 
    }
    25% {
      transform: translate(30px, -30%) rotate(0deg) scale(1); 
    }
    50% {
      transform: translate(-30%, 30px) rotate(0deg) scale(1); 
    }
    75% {
      transform: translate(-40px, -40%) rotate(0deg) scale(1);
    }
    100% {
      transform: translate(-20%, -20px) rotate(0deg) scale(1); 
    }
  }

  @keyframes star {
    0%   {transform: translate(0px, 0px);} 
    10%  {transform: translate(-2px, -2px);} 
    20%  {transform: translate(2px, -2px);} 
    30%  {transform: translate(-2px, 2px);} 
    40%  {transform: translate(2px, 2px);} 
    50%  {transform: translate(-2px, -2px);} 
    60%  {transform: translate(2px, -2px);}
    70%  {transform: translate(-2px, 2px);}
    80%  {transform: translate(-2px, -2px);}
    90%  {transform: translate(2px, -2px);}
    100% {transform: translate(0px, 0px);} 
  }

  @keyframes conference {
    0% {
        color: #ffffff;
    }
    50% {
        color: #000000;
    }
    100% {
        color: #ffffff;
    }
  }

  @keyframes f2t1 {
    0% {
        transform: translateY(0); 
    }
    20% {
        transform: translateY(-5vw); 
    }    
    60% {
        transform: translateY(-10vw);
    }
    100% {
        transform: translateY(0);
    }
  }

  @keyframes f2t3 {
    0% {
        transform: translateY(0); 
    }
    20% {
        transform: translateY(-5vw); 
    }  
    50% {
        transform: translateY(10vw);
    }  
    100% {
        transform: translateY(0);
    }
  }

  @keyframes f5t2 {
    0% {
        transform: translateY(0); 
    }  
    60% {
        transform: translateY(8vw);
    }
    70% {
        transform: rotateY(15vw);
    }
    100% {
        transform: translateY(0);
    }
  }
