body {
  position: relative;
  width: 1920px; 
  height: 6902px; 
  margin: 0 auto;
  overflow-x: hidden;
  background-color: black;
  cursor: url(../img/icon_star.svg), auto;
}

section {
  position: relative; 
  width: 100%; 
  height: auto; 
  overflow: hidden; 
}

section:nth-of-type(5) {
  overflow: visible;
}

  .zavod_wrap {
    text-align: center; 
    color: white; 
    font-size: 87.76px; 
    font-family: 'TeletactileLatCyr'; 
    font-weight: 400; 
    text-transform: uppercase; 
    line-height: 78.99px; 
    word-wrap: break-word
  }

  .face {
    position: absolute;
    width: 871.9px;
    height: 1157.53px;
    left: 524.05px;
    top: 36.7px; 
    z-index: 1;
}

.spot {
  position: absolute; 
  width: 277.75px;
  height: 199.86px;
  left: 600px; 
  top: 200px; 
  z-index: 2; 
}

.viatkatech_wrap {
    position: absolute; 
    top: 150px; 
    left: 100px; 
    color: white;
    font-size: 27.09px;
    font-family: 'Haffer';
    font-weight: 570;
    text-transform: uppercase;
    line-height: 24.38px;
    text-align: center;
  }

.box1 {
  position: absolute; 
  left: 291.02px; 
  top: 114.54px; 
  position: absolute; 
  background: rgba(255, 255, 255, 0.10); 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  display: inline-flex
}

.nine_wrap {
    position: absolute; 
    text-align: center; 
    color: white;
    font-size: 52.32px; 
    font-family: 'Haffer'; 
    font-weight: 430; 
    word-wrap: break-word
  }

  .box2 {
    left: 124.75px; 
    top: 351.07px; 
    position: absolute; 
    background: rgba(255, 255, 255, 0.10); 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex
  }

  .two_wrap {
    align-self: stretch; 
    text-align: center; 
    color: white; 
    font-size: 52.32px; 
    font-family: Haffer; 
    font-weight: 430; 
    word-wrap: break-word;
  }

  .box3 {
    height: 62px; 
    left: 393.79px; 
    top: 695.74px; 
    position: absolute; 
    background: rgba(255, 255, 255, 0.10); 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex
  }

  .three_wrap {
    align-self: stretch; 
    text-align: center; 
    color: white; 
    font-size: 52.32px; 
    font-family: Haffer; 
    font-weight: 430; 
    word-wrap: break-word
  }

  .box4 {
    height: 62px; 
    left: 96.58px; 
    top: 1061.34px; 
    position: absolute; 
    background: rgba(255, 255, 255, 0.10); 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex
  }

  .star1_wrap {
    align-self: stretch; 
    text-align: center; 
    color: white; 
    font-size: 52.32px; 
    font-family: 'Haffer'; 
    font-weight: 430; 
    word-wrap: break-word
  }

.box5 {
  align-self: stretch; 
  height: 62px; 
  background: rgba(255, 255, 255, 0.10); 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  display: inline-flex
}

  .star2_wrap {
    align-self: stretch; 
    text-align: center; 
    color: white; 
    font-size: 52.32px; 
    font-family: 'Haffer'; 
    font-weight: 430; 
    word-wrap: break-word
  }

  .box6 {
    align-self: stretch; 
    height: 62px; 
    background: rgba(255, 255, 255, 0.10); 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex
  }

  .star3_wrap {
    align-self: stretch; 
    text-align: center; 
    color: white; 
    font-size: 52.32px; 
    font-family: 'Haffer'; 
    font-weight: 430; 
    word-wrap: break-word
  }

  .box8 {
    align-self: stretch; 
    height: 62px; 
    background: rgba(255, 255, 255, 0.10); 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex
  }

  .f_wrap {
    align-self: stretch; 
    text-align: center; 
    color: white; 
    font-size: 52.32px; 
    font-family: Haffer; 
    font-weight: 430; 
    word-wrap: break-word
  }

  .box7 {
    height: 62px; 
    left: 1545.70px; 
    top: 382.32px; 
    position: absolute; 
    background: rgba(255, 255, 255, 0.10); 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex
  }

  .eightseven_wrap {
    align-self: stretch; 
    text-align: center; 
    color: white; 
    font-size: 52.32px; f
    ont-family: 'Haffer'; 
    font-weight: 430; 
    word-wrap: break-word
  }

  .box9 {
    height: 62px; 
    left: 1695.76px; 
    top: 1048.98px; 
    position: absolute; 
    background: rgba(255, 255, 255, 0.10); 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex
  }

  .text_wrap {
    position: absolute; 
    top: 1100px; 
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center;
    color: white;
    font-size: 52.32px;
    font-family: 'Haffer';
    font-weight: 430;
    line-height: 1.5;
    z-index: 3;
  }

  .box12 {
    left: 577px; 
    top: 1005.84px; 
    position: absolute; 
    background: #F13032; 
    border-radius: 4px; 
    border: 6px #634C00 solid;
    z-index: 2;
  }

  .oneonetwo_wrap {
    text-align: center; 
    color: white; 
    font-size: 777.64px; 
    font-family: 'TeletactileLatCyr'; 
    font-weight: 400; 
    text-transform: uppercase; 
    line-height: 699.88px; 
    word-wrap: break-word
  }

  .designed_wrap {
    width: 96.42px; 
    height: 24.11px; 
    opacity: 0.40; 
    color: white; 
    font-size: 25.71px; 
    font-family: ZT Formom; 
    font-weight: 400; 
    line-height: 30.86px; 
    word-wrap: break-word
  }

  .mishaezhov_wrap {
    width: 141.42px; 
    height: 45px; 
    left: 27.32px; 
    top: 4.82px; 
    position: absolute; 
    color: white; 
    font-size: 45.05px; 
    font-family: ZT Formom; 
    font-weight: 400; 
    word-wrap: break-word
  }