body, html {
  width: 100%;
  overflow-x: hidden;
  background-color: black;
  cursor: url(../img/icon_star.svg), auto;
}

::-webkit-scrollbar {
  display: none;
}

  section {
    position: relative;
  }

  .section1 {
    background-image: url(../img/selection1/stripes.svg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vw;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: auto;
    overflow: hidden;
  }

.section2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vw;
  overflow: hidden;
  text-align: center;
}

.onetwo {
  font-family: 'TeletactileLatCyr';
  font-size: 40vw;
  color: #FFFFFF;
  animation: updown 2s ease infinite;
  z-index: 2;
}

.zavod {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
  font-family: 'TeletactileLatCyr'; 
  color: white; 
  margin-top: 3vh;
  max-width: 100%;
  z-index: 2;
  animation: zavod 3s infinite;
}

.face {
  flex: 1 1 40vw;
  text-align: center;
}

.text_left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3vw;
  justify-content: space-between;
}

.viatkatech_wrap {
  position: absolute; 
  top: 15vh;
  left: 13vw; 
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1.3vw;
  font-family: 'Inter-Regular';
  font-weight: 570;
  line-height: 1.2vw;
  text-align: left;
  z-index: 2;  
  animation: bounce9 3s infinite linear;
} 

  .line2 {
    display: block; 
    margin: 0;
  }

  .conference_text {
    position: absolute; 
    top: 15vh;
    left: 13vw; 
    color: white;
    font-size: 1.3vw;
    font-family: 'Inter-Regular';
    font-weight: 570;
    text-align: center;
    line-height: 1.2vw;
    text-align: left;
    z-index: 2;  
    background-color: rgb(241, 48, 50);
  }

  .number2 {
    position: absolute;
    top: 84vh;
    left: 16vw;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 2.3vw;
    font-family: 'Inter-Regular';
    font-weight: 570;
    z-index: 2;
    text-align: center;
    animation: bounce8 3s infinite linear;
  }

  .number9 {
      position: absolute; 
      top: 41vh;
      left: 5vw; 
      color: white;
      background-color: rgba(255, 255, 255, 0.1);
      font-size: 2.3vw;
      font-family: 'Inter-Regular';
      font-weight: 570;
      text-align: center;
      z-index: 2;
      animation: bounce7 3s infinite linear;
  }

  .number_star {
      position: absolute; 
      top: 103vh;
      left: 39vw; 
      color: white;
      background-color: rgba(255, 255, 255, 0.1);
      font-size: 2.3vw;
      font-family: 'Inter-Regular';
      font-weight: 570;
      text-align: center;
      z-index: 3;
      animation: star 0.5s linear infinite;
  }

  .number_star2 {
    position: absolute; 
    top: 34vh;
    left: 62vw; 
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 2.3vw;
    font-family: 'Inter-Regular';
    font-weight: 570;
    text-align: center;
    z-index: 3;
    animation: star 0.5s linear infinite;
}

.number_star3 {
  position: absolute; 
  top: 84vh;
  left: 94vw; 
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 2.3vw;
  font-family: 'Inter-Regular';
  font-weight: 570;
  text-align: center;
  z-index: 3;
  animation: star 0.5s linear infinite;
}

  .number3 {
    position: absolute; 
    top: 113vh;
    left: 3vw; 
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 2.3vw;
    font-family: 'Inter-Regular';
    font-weight: 570;
    text-align: center;
    z-index: 10;
    animation: bounce3 3s infinite linear;
  }

.numberf {
  position: absolute; 
  top: 46vh;
  left: 84vw; 
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 2.3vw;
  font-family: 'Inter-Regular';
  font-weight: 570;
  text-align: center;
  z-index: 10;
  animation: bounce2 2s infinite linear;
}

.number87 {
  position: absolute; 
  top: 113vh;
  left: 93vw; 
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 2.3vw;
  font-family: 'Inter-Regular';
  font-weight: 570;
  text-align: center;
  z-index: 10;
  animation: bounce1 3s infinite linear;
}

.facetop, .facebot {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.face1 {
  width: 50%;
  object-fit: cover;
  z-index: 1;
}

.face2 {
  width: 60%;
  object-fit: cover;
  z-index: 1;
}

.face3 {
  object-fit: cover;
  width: 50%;
  height: auto;
  z-index: 1;
}

.face4 {
  width: 60%;
  object-fit: cover;
  z-index: 1;
}

.face5 {
  object-fit: cover;
  width: 50%;
  height: auto;
  z-index: 1;
}

.f1t1 {
    position: absolute; 
    top: 4vh;
    left: 2vw; 
    color: white;
    font-size: 1.9vw;
    font-family: 'Inter-Regular';
    font-weight: 570;
    line-height: 0.8vw;
    text-align: center;
    z-index: 2;
    animation: f1t1 5s infinite linear;
}

.f1t2 {
  position: absolute; 
  top: 50vh;
  left: 33vw; 
  color: white;
  font-size: 1.9vw;
  font-family: 'Inter-Regular';
  font-weight: 570;
  line-height: 0.8vw;
  text-align: center;
  z-index: 2;
  animation: f1t2 5s infinite linear;
}

.f1t3 {
  position: absolute; 
  top: 20vh;
  left: 6vw; 
  color: white;
  font-size: 1.9vw;
  font-family: 'Inter-Regular';
  font-weight: 570;
  line-height: 0.8vw;
  text-align: center;
  z-index: 2; 
  animation: f1t3 3.5s linear infinite;
  animation-timeline: auto;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
  gap: 2vw;
}

.img_number1 {
  width: 45%; 
  z-index: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative; 
  overflow: hidden;
}

.img_number2 {
  width: 45%; 
  z-index: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative; 
  overflow: hidden;
}

.img_number3 {
  width: 45%; 
  z-index: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative; 
  overflow: hidden;
}

.img_number4 {
  width: 45%; 
  z-index: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative; 
  overflow: hidden;
}

.img_star1 {
  position: absolute; 
  top: 5%; 
  left: 5%; 
  width: 20%; 
  height: auto; 
  pointer-events: none;
  z-index: 2; 
}

  .section5 {
    background-image: url(../img/selection5/stripes_red.svg);
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: auto;
    overflow: hidden;
  }

 /* <img class="img_star1" src="./img/selection4/star1.svg"> */


