body, html {
  width: 100%;
  overflow-x: hidden;
  background-color: black;
  cursor: url(../img/icon_star.svg), auto;
}

::-webkit-scrollbar {
  display: none;
}

  section {
    position: relative;
  }

  .section1 {
    background-image: url(../img/selection1/stripes.svg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vw;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: auto;
    overflow: hidden;
  }

.section2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vw;
  overflow: hidden;
  text-align: center;
}

.onetwo {
  font-family: 'TeletactileLatCyr';
  font-size: 40vw;
  color: #FFFFFF;
  animation: updown 2s ease infinite;
  z-index: 2;
}

.zavod {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
  font-family: 'TeletactileLatCyr'; 
  color: white; 
  margin-top: 3vh;
  max-width: 100%;
  z-index: 2;
  animation: zavod 3s infinite;
}

.face {
  flex: 1 1 40vw;
  text-align: center;
}

.text_left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3vw;
  justify-content: space-between;
}

.viatkatech_wrap {
    position: absolute; 
    top: 15vh;
    left: 13vw; 
    color: white;
    font-size: 1.3vw;
    font-family: 'Inter-Regular';
    font-weight: 570;
    line-height: 0.8vw;
    text-align: center;
    z-index: 2;
    animation: bounce9 3s infinite linear;
  }

  .number2 {
    position: absolute;
    top: 84vh;
    left: 16vw;
    color: #FFFFFF;
    font-size: 2.3vw;
    font-family: 'Inter-Regular';
    font-weight: 570;
    z-index: 2;
    text-align: center;
    animation: bounce8 3s infinite linear;
  }

  .number9 {
      position: absolute; 
      top: 41vh;
      left: 5vw; 
      color: white;
      font-size: 2.3vw;
      font-family: 'Inter-Regular';
      font-weight: 570;
      line-height: 0.8vw;
      text-align: center;
      z-index: 3;
      animation: bounce7 3s infinite linear;
  }

  .number_star {
      position: absolute; 
      top: 103vh;
      left: 39vw; 
      color: white;
      font-size: 2.3vw;
      font-family: 'Inter-Regular';
      font-weight: 570;
      line-height: 0.8vw;
      text-align: center;
      z-index: 3;
      animation: bounce6 2s infinite linear;
  }

  .number_star2 {
    position: absolute; 
    top: 34vh;
    left: 62vw; 
    color: white;
    font-size: 2.3vw;
    font-family: 'Inter-Regular';
    font-weight: 570;
    line-height: 0.8vw;
    text-align: center;
    z-index: 3;
    animation: bounce5 3s infinite linear;
}

.number_star3 {
  position: absolute; 
  top: 84vh;
  left: 94vw; 
  color: white;
  font-size: 2.3vw;
  font-family: 'Inter-Regular';
  font-weight: 570;
  line-height: 0.8vw;
  text-align: center;
  z-index: 3;
  animation: bounce4 2s infinite linear;
}

  .number3 {
    position: absolute; 
    top: 113vh;
    left: 3vw; 
    color: white;
    font-size: 2.3vw;
    font-family: 'Inter-Regular';
    font-weight: 570;
    line-height: 0.8vw;
    text-align: center;
    z-index: 10;
    animation: bounce3 3s infinite linear;
  }

.numberf {
  position: absolute; 
  top: 46vh;
  left: 84vw; 
  color: white;
  font-size: 2.3vw;
  font-family: 'Inter-Regular';
  font-weight: 570;
  line-height: 0.8vw;
  text-align: center;
  z-index: 10;
  animation: bounce2 2s infinite linear;
}

.number87 {
  position: absolute; 
  top: 113vh;
  left: 93vw; 
  color: white;
  font-size: 2.3vw;
  font-family: 'Inter-Regular';
  font-weight: 570;
  line-height: 0.8vw;
  text-align: center;
  z-index: 10;
  animation: bounce1 3s infinite linear;
}

.facetop, .facebot {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.face1 {
  width: 50%;
  object-fit: cover;
}

.face2 {
  width: 60%;
  object-fit: cover;
}

.face3 {
  object-fit: cover;
  width: 50%;
  height: auto;
}

.face4 {
  width: 60%;
  object-fit: cover;
}

.face5 {
  object-fit: cover;
  width: 50%;
  height: auto;
}

  .img_number1 {
    width: 100%;
    height: auto;
    z-index: 1;
  }

  .img_star {
    width: 10vw; 
    max-width: 20%; 
    height: auto; 
  }

  .section5 {
    background-image: url(../img/selection5/stripes_red.svg);
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: auto;
    overflow: hidden;
  }

  /* .nine_wrap {
    position: absolute; 
    top: 35vh;
    left: 7vw; 
    color: white;
    font-size: 3.5vw;
    font-family: 'Haffer';
    font-weight: 570;
    text-transform: uppercase;
    text-align: center;
  }

  .two_wrap {
    position: absolute; 
    top: 60vh;
    left: 17vw; 
    color: white;
    font-size: 3.5vw;
    font-family: 'Haffer';
    font-weight: 570;
    text-transform: uppercase;
    text-align: center;
  }

  .three_wrap {
    position: absolute; 
    top: 90vh;
    left: 5vw; 
    color: white;
    font-size: 3.5vw;
    font-family: 'Haffer';
    font-weight: 570;
    text-transform: uppercase;
    text-align: center;
  }

  .star_wrap {
    position: absolute; 
    top: 89vh;
    left: 38vw; 
    color: white;
    font-size: 3.5vw;
    font-family: 'Haffer';
    z-index: 1;
  }

  .star2_wrap {
    position: absolute; 
    top: 30vh;
    left: 58vw; 
    color: white;
    font-size: 3.5vw;
    font-family: 'Haffer';
    z-index: 1;
  }

  .star3_wrap {
    position: absolute; 
    top: 75vh;
    left: 75vw; 
    color: white;
    font-size: 3.5vw;
    font-family: 'Haffer';
    z-index: 1;
  }

.f_wrap {
  position: absolute; 
  top: 32vh;
  left: 85vw;
  color: white;
  font-size: 3.5vw;
  font-family: 'Haffer';
  z-index: 1;
}

.eightseven_wrap {
  position: absolute; 
  top: 93vh;
  left: 89vw;
  color: white;
  font-size: 3.5vw;
  font-family: 'Haffer';
  z-index: 1;
} */

